.connectionForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.connectionButtons {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #153469;
    cursor: pointer;
    margin-bottom: 1rem;
}

.active-btn {
    color: red;
}