.Login {
    width: 100%;
    height: 700px;
}

.LoginForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 700px;
}

.LoginForm h1 {
    font-size: 2rem;
}

.LoginForm input {
    height: 50px;
    margin: 10px 0 10px 0;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
    background-color: #EDEDED;
}

.ButtonLogin {
    margin: 15px 0 15px 0;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    align-self: center;
    color: white;
    font-size: large;
    background-color: #E6361B;
    cursor: pointer;
}