.Header {
    text-align: center;
    width: auto;
    height: 8rem;
    background-color: white;
    box-shadow: 0 30px 20px rgba(114, 114, 114, 10%);
}

.Logo {
    padding-top: 2.5rem;
    width: 15rem;
}